
.flex {
  display: flex;
}
.amap-copyright{
  opacity: 0 !important;
}
.amap-logo {
  display: none !important
}
.info {
  .flex();
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
}
.infoWin {
  .flex();
  background-color: rgba(23,102,144,0.7);
  padding: 8px;
  border-radius: 6px;
  border: 2px solid #47caff;
  flex-direction: column;
}
.top {
  padding-bottom: 5px;
}
.middle {
  .flex();
  align-items: center;
}
.middle_l {
  flex-direction: column;
  .flex();
  margin-right: 15px;
}
.middle_r {
  .flex();
  flex-direction: column;
}
.bottom {
  .flex();
  width: 100%;
  justify-content: space-between;
}
.btn {
  .flex();
  color: #fff;
  margin-top: 5px;
  padding: 6px 12px;
  display: inline-block;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  background-color: rgba(23,102,144,0.7);
}
.btn:hover {
  opacity:.8;
  filter:alpha(opacity=80);
  color:#fff
}
.btn:active {
  opacity:1;
  filter:alpha(opacity=100)
}
.box {
  position: absolute;
  right: 20px;
  bottom: 20px;
  z-index: 500;
}
.closer {
  display: none;
  background-color: rgba(0,0,0,.4);
  color: rgba(255, 255, 255, 1);
  height: 28px;
  width: 28px;
  border-radius: 14px;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  text-align: center;
  vertical-align: middle;
  z-index: 501;
}
.box:hover {
  .closer {
    display: block;
  };
  cursor: pointer;
}
.closer:hover {
  cursor: default;
}