@import '~antd/es/style/themes/default.less';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background: @layout-body-background;
}

.lang {
  width: 100%;
  height: 40px;
  line-height: 44px;
  text-align: right;
  :global(.ant-dropdown-trigger) {
    margin-right: 24px;
  }
}

.content {
  width: 66%;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.card {
  width: 100%;
  height: 92%;
  margin-top: 10px;
  display: flex;
  border-radius: 8px;
  background-color: rgba(255,255,255,1);
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  .cardL {
    width: 50%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: hidden;
    border-radius: 8px 0 0 8px;
    position: relative;
    .logo {
      position: absolute;
      left: 10px;
      top: 10px;
      background-color: transparent;
    }
    .video {
      // width: 100%;
      height: 100%;
    }
  }
  .cardR {
    width: 50%;
    display: flex;
    align-items: center;
    flex: 1;
    position: relative;
    background-color: rgba(255, 255, 255, 0);
  }
}

// .video {
//   // width: 100%;
//   height: 100%;
//   z-index: -1;
// }

@media (min-width: @screen-md-min) {
  .container {
    // background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
    background-repeat: no-repeat;
    background-position: center 110px;
    background-size: 100%;
  }

  .content {
    margin: 32px 0 0;
  }
}

.top {
  text-align: center;
}

.header {
  height: 44px;
  line-height: 44px;
  a {
    text-decoration: none;
  }
}

.logo {
  height: 44px;
  margin-right: 16px;
  vertical-align: top;
}

.title {
  position: relative;
  top: 2px;
  color: @heading-color;
  font-weight: 600;
  font-size: 33px;
  font-family: Avenir, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.desc {
  margin-top: 12px;
  margin-bottom: 40px;
  color: @text-color-secondary;
  font-size: @font-size-base;
}
